*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
}

html ,
body{
    scroll-behavior: smooth;
}

:root{
    --main-color: rgba(0, 0, 255, 0.573);
    --font-weight:600;
    --transition:.3s;
}

.container{
    width: 1100px;
    margin: auto;
    max-width: 100%;
}

.btn{
    padding: 10px 15px;
    font-size: 13px;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: rgba(31, 31, 235, 0.755) ;
}
